<div class="container-fluid">
    <div class="jumbotron">
        <h4 class="text-center">{{pageTitle}}</h4>
        <h6 class="text-center">{{subTitle}}</h6>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="well well-sm panel panel-default">
                <div class="panel panel-heading">
                    <h5>Current Notable Woman</h5>
                </div>
                <div class="panel panel-body">
                    <h5 class="text-center text-info">{{notableWoman}}</h5>
                    <div class="row">
                        <div class="quick-padding">
                            <img src="app/content/AdaLovelace.jpg" class="img-responsive img-rounded float-sm-right center-block" />
                        </div>
                    </div>
                    <p class="quick-indent">{{notableWomanInfo}} - <a target="_blank" href="http://www.biography.com/people/ada-lovelace-20825323">Read more on biography.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well well-sm panel panel-default">
                <div class="panel panel-heading">
                    <h5>Resources</h5>
                </div>
                <div class="panel-body">
                    <ul class="list-group text-center">
                        <li class="list-group-item">
                            <a target="_blank" href="http://www.w3schools.com/">W3Schools -- Learn HTML, CSS, javascript and more</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://developer.mozilla.org/en-US/">Mozilla Developer Network</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://scratch.mit.edu/">Make a game using Scratch!</a>
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="http://stackoverflow.com/">Get your coding questions answered at Stack Overflow</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>