<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-12 jumbotron">
                <h2 class="text-center">About Noa</h2>
                <h5 class="text-center">26-year-old female</h5>
                <h5 class="text-center">Denver, Colorado</h5>
            </div>
            <div class="col-lg-6">
                <div class="well well-sm panel panel-default">
                    <div class="panel-heading">
                        <h4>Stack Skillz</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                Angular 1 & 2, TypeScript, Vanilla JS
                            </li>
                            <li class="list-group-item">
                                Bootstrap & CSS
                            </li>
                            <li class="list-group-item">
                                HTML 5
                            </li>
                            <li class="list-group-item">
                                C#
                            </li>
                            <li class="list-group-item">
                                SQL & EntityFramework
                            </li>
                            <li class="list-group-item">
                                Other libraries:  UI-Grid, Telerik Kendo UI
                            </li>
                            <li class="list-group-item">
                                Other: Visual Studio, TFS, Jira, Node
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well well-sm panel panel-default">
                    <div class="panel-heading">
                        <h4>Long Story Short</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="text-left quick-indent">
                                    I'm a software engineer who quit her job to teach girls they have a place in the software industry (and any other industry) through coding.
                                    I've worked at a variety of companies (see my LinkedIn). In that time, I have had three female coder coworkers.  I hope to someday have at least half female coworkers.
                                    Other than teaching, I stream myself coding on Twitch trying new languages, libraries and outlets for coding.  This website was made with Angular 2 and TypeScript, mostly while on stream.
                                    <a href="#" (click)="onChangeTabs('contact')">Contact me</a> for inquiries, lessons and comments.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <img src="app/content/myself.jpg" class="img-responsive img-rounded float-sm-right" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h4 class="text-center">Stalk Me</h4>
                    <div class="list-group text-center">
                        <div>
                            <a href="linkedin.com/in/harniknoa">On LinkedIn</a>
                        </div>
                        <div>
                            <a href="https://github.com/HarnikNoa">On GitHub</a>
                        </div>
                        <div>
                            <a href="https://www.twitch.tv/harniknoa">On Twitch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>