

/*Custom css-------------------------------------------------------------------------------*/

.padded-div-box {
    margin: 50px;
}

.highlight-border {
    border: 3px solid #008966 !important;
    background-color: #2c2c2c;

}

@keyframes successalert {
    0%   {border-color: lightgreen;}
    25%  {border-color: yellow;}
    50%  {border-color: blue;}
    100% {border-color: green;}
}

@keyframes failurealert {
    0%   {border-color: red;}
    25%  {border-color: darkred;}
    50%  {border-color: indianred;}
    100% {border-color: red;}
}

.success-alert {
    border: 5px solid lightgreen;
    animation-name: successalert;
    animation-duration: 2s;
    border-radius: 25px;
    background-color: dimgrey;
    position: fixed;
    z-index: 999999;
    pointer-events: auto;
    opacity: .8;
    }

.failure-alert{
    border: 5px solid red;
    animation-name: failurealert;
    animation-duration: 2s;
    border-radius: 25px;
    background-color: dimgrey;
    position: fixed;
    z-index: 999999;
    pointer-events: auto;
    opacity: .8;
}

.game-item:hover,
.game-item:active {
    background-color: #2c2c2c;
}

.quick-indent {
    text-indent: 50px;
}

.quick-padding {
    padding: 25px;
}

    