<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#something">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" (click)="activeTab = 'home'"><b>Zoola</b></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li [ngClass]="{active: activeTab === 'about'}" (click)="isActive = !isActive; activeTab = 'about'"><a href="#">About</a></li>
                <li [ngClass]="{active: activeTab === 'contact'}" (click)="isActive = !isActive; activeTab = 'contact'"><a href="#">Contact</a></li>
                <li [ngClass]="{active: activeTab === 'lessons'}" (click)="isActive = !isActive; activeTab = 'lessons'"><a href="#">Lessons</a></li>
                <li [ngClass]="{active: activeTab === 'game'}" (click)="isActive = !isActive; activeTab = 'game'"><a href="#">Matching Game</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <home-component [hidden]="activeTab !== 'home'"></home-component>
</div>
<contact-tab [hidden]="activeTab !== 'contact'"></contact-tab>
<about-tab [hidden]="activeTab !== 'about'"></about-tab>
<game-tab [hidden]="activeTab !== 'game'"></game-tab>
<lessons-tab [hidden]="activeTab !== 'lessons'"></lessons-tab>

